[user]
  name = {{name}}
  email = {{email}}
[color]
  ui = true
[alias]
  d = diff --color-words --ignore-all-spaces
  co = checkout
  ci = commit
  st = status
  br = branch
  rset = reset --hard HEAD
[branch]
  autosetuprebase = always
